.gitattributes text eol=lf
.gitignore text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.py text eol=lf
scripts/modpack text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.snbt text eol=lf
pack/options.txt text eol=lf
*.md text eol=lf
